<!DOCTYPE html>
<html>
<head>
    <title>{{uid}}의 프로필</title>
</head>
<body>
    <a href="/signout">로그아웃</a>
    <p>당신 ID: {{yourId}}</p>
    <fieldset>
        <legend>개인 정보</legend>
        ID: <p id="uid">{{uid}}</p>
        학번: <p id="studentId">{{studentId}}</p>
        이름: <p id="name">{{name}}</p>
    </fieldset>
    <fieldset>
        <legend>이것 저것</legend>
        최대 점수: <p id="maxScore">{{maxScore}}</p>
        <a href="/gqrcode">QR코드 생성</a><br>
        <a href="{{url_for('showLeaderBoard', name=uid)}}">리더보드에서 {{uid}}보기</a>
    </fieldset>
</body>
</html>