<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{url_for('static', filename='sha256.js')}}"></script>
    <script type="text/javascript">
        function isPWREPWSame() {
            pw = document.getElementById('pw').value;
            repw = document.getElementById('rePw').value;
            return pw == repw;
        }
        function signUp() {
            var form = document.forms['signup'];
            if (document.getElementById('uid').value == "") {
                alert("아이디를 입력하십시오");
                return false;
            }
            if (document.getElementById('pw').value == "") {
                alert("비밀번호를 입력하십시오");
                return false;
            }
            if (document.getElementById('rePw').value == "") {
                alert("비밀번호 재입력 하십시오");
                return false;
            }
            if (document.getElementById('studentId').value == "") {
                alert("학번 입력 하십시오");
                return false;
            }
            if (document.getElementById('name').value == "") {
                alert("이름 입력 하십시오");
                return false;
            }
            if(!isPWREPWSame()) {
                alert("비밀번호와 비밀번호 재입력 결과가 다릅니다!");
                return false;
            }
            const pattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|a-z|A-Z|0-9]+/;
            const korean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]+/;
            if(pattern.test(document.getElementById('uid').value) != document.getElementById('uid').value) {
                alert("ID를 제대로 입력하십시오!");
                return false;
            }
            if(pattern.test(document.getElementById('pw').value) != document.getElementById('pw').value) {
                alert("PW를 제대로 입력하십시오!");
                return false;
            }
            if(korean.test(document.getElementById('name').value) != document.getElementById('name').value) {
                alert("이름을 제대로 입력하십시오!");
                return false;
            }
            var a = document.getElementById('pw');
            var tmp = document.getElementById('rPw');
            var salt = document.getElementById('salt');
            var b = SHA256(a.value + salt.value);
            tmp.value = b;
            console.log(tmp.value);
            console.log(a.value);
            console.log(salt.value);
            form.submit();
        }
        window.onload = function() {
            tmp = document.getElementById('salt')
            tmp.value = Math.random().toString(36).substr(2,8) // 8자리 글자.
        }
    </script>
</head>

<body>
    <form name="signup" action="/addUser" method="POST">
        <input id="salt" name="salt" type="hidden">
        <input id="rPw" name="pw" type="hidden">
        <fieldset>
            <legend>정보</legend>
            ID는 영어, 숫자, 한글만 입력할 수 있습니다.<br>
            비밀번호는 영어, 숫자만 입력할 수 있습니다.<br>
            학번은 숫자만 입력할 수 있습니다.<br>
            이름은 한글만 입력할 수 있습니다.
        </fieldset>
        <fieldset>
            <legend>계정 정보 입력</legend>
            ID: <input id="uid" name="uid" type="text" maxlength="15"><br>
            PW: <input id="pw" type="password" maxlength="20"><br>
            REPW: <input id="rePw" type="password" maxlength="20">
        </fieldset>
        <fieldset>
            <legend>개인 정보</legend>
            학번: <input id="studentId" name="studentId" type="number" maxlength="5"><br>
            이름: <input id="name" name="name" type="text" maxlength="6"><br>
            <!--학번, 이름 공개할건가요? <input id="showNs" name="showNs" type="checkbox" checked="true">-->
        </fieldset>
        <button onclick="return signUp();">회원가입 하기</button>
    </form>
</body>

</html>
