<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{url_for('static', filename='sha256.js')}}"></script>
    <script type="text/javascript">
        function isPWREPWSame() {
            pw = document.getElementById('pw').value;
            repw = document.getElementById('rePw').value;
            return pw == repw;
        }
        function signup(e) {
            const form = document.getElementById('signup');
            if (document.getElementById('uid').value == "") {
                alert("아이디를 입력하십시오");
                return false;
            }
            if (document.getElementById('pw').value == "") {
                alert("비밀번호를 입력하십시오");
                return false;
            }
            if (document.getElementById('rePw').value == "") {
                alert("비밀번호 재입력 하십시오");
                return false;
            }
            if (document.getElementById('studentId').value == "") {
                alert("학번 입력 하십시오");
                return false;
            }
            if (document.getElementById('name').value == "") {
                alert("이름 입력 하십시오");
                return false;
            }
            if (document.getElementById('nickName').value == "") {
                alert("닉네임 입력 하십시오");
                return false;
            }
            if(!isPWREPWSame()) {
                alert("비밀번호와 비밀번호 재입력 결과가 다릅니다!");
                return false;
            }
            form.submit();
        }
    </script>
</head>

<body>
    <form id="signup" action="/addUser" method="POST">
        <fieldset>
            <legend>계정 정보 입력</legend>
            ID: <input id="uid" type="text" maxlength="15"><br>
            PW: <input id="pw" type="password" maxlength="20"><br>
            REPW: <input id="rePw" type="password" maxlength="20">
        </fieldset>
        <fieldset>
            <legend>개인 정보</legend>
            학번: <input id="studentId" type="number" maxlength="5"><br>
            이름: <input id="name" type="text" maxlength="6"><br>
            닉네임: <input id="nickName" type="text" maxlength="10"><br>
            학번, 이름 공개할건가요? <input id="showNs" type="checkbox" checked="true">
        </fieldset>
        <button onclick="signup(event)">회원 가입</button>
    </form>
</body>

</html>
